#googleMap {
  height: 400px;
}

.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  height: 255px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed-l thead {
  width: 100%;
}

.table-fixed-l tbody {
  height: 110px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed-l tr {
  width: 100%;
}

.table-fixed-l thead, .table-fixed-l tbody, .table-fixed-l tr, .table-fixed-l td, .table-fixed-l th {
  display: block;
}

.table-fixed-l thead tbody td th tr, .table-fixed-l thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

#editor {
  width: 400px;
  height:100px;
}

#link {
  width: 400px;
  height:100px;
}
/*

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
*/
